.box{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
    transition: all 2s ease-in ;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red:hover{
    width: 300px;
}
.green:hover{
    height: 300px;

}
.blue:hover{
    height: 300px;
    width: 300px;
}